h3 Create a payee
p Payees are people who you charge your invoice to. 
= form_for @payee, url: '/payee', local: true do |form|
   
    div class="form-group"
      = form.label :name
      = form.text_field :name, class: "form-control"

    div class="form-group"
      = form.label :email
      = form.text_field :email, class: "form-control"


    div class="form-group"
      = form.label :phone
      = form.text_field :phone, class: "form-control"

    div class="form-group"
      = form.label :address
      = form.text_field :address, class: "form-control"

    div class="form-group"
      = form.label :company
      = form.text_field :company, class: "form-control"


    = form.submit 'Create payee', class: "btn btn-primary" 

h3 Existing payees
div class="d-flex flex-wrap"
  - @payees.each do |p|
      div class="card" style="width: 18rem; margin: 2px"
          div class="card-body"
              h5 class="card-title" = p.name
              h6 class="card-subtitle mb-2 text-muted" = p.email
              p class="card-text" = p.phone
              p class="card-text" = p.company
              p class="card-text" = p.address
              = link_to 'View payee', payee_path(p.id), class: "card-link"



