h3 Change payee details
= form_with model: @payee, local: true do |form|

   
    div class="form-group"
      = form.label :name
      = form.text_field :name, class: "form-control"

    div class="form-group"
      = form.label :email
      = form.text_field :email, class: "form-control"


    div class="form-group"
      = form.label :phone
      = form.text_field :phone, class: "form-control"

    div class="form-group"
      = form.label :address
      = form.text_field :address, class: "form-control"

    div class="form-group"
      = form.label :company
      = form.text_field :company, class: "form-control"


    = form.submit 'Update payee', class: "btn btn-primary" 