h3 Invoices
div class="d-flex flex-wrap"
    - @invoices.each do |i|
        div class="card" style="width: 18rem; margin: 2px"
            div class="card-body"
                h5 class="card-title" Invoice #{i.id}
                h6 class="card-subtitle mb-2 text-muted" = i.created_at.to_date 
                p class="card-text" Amount #{i.total}
                p class="card-text" Bill to #{i.payee.name}
                = link_to 'View HTML', invoice_path(i.id), class: "card-link"
                = link_to 'View PDF', invoice_path(i.id) + '.pdf', class: "card-link"
