h3 Generate a new invoice
= form_with model: @invoice, url: '/invoice', local: true do |form|
   
    div class="field"
      = form.label :total
      = form.text_field :total

    div class="field"
      = form.label :notes
      = form.text_area :notes

    div class="field"
        = form.label :payee
        = form.fields_for :payee do |p|
            = p.collection_select(:payee_id, Payee.all, :id, :name)

    table
        tr
            th Description
            th Hours
            th Rate
            th Amount
        tr
            /td = form.text_area @invoice





    = form.submit 'Create invoice' 