div style="display: flex; justify-content: space-between"
    div 
        h2= @invoice.user.name
        p ABN: #{@invoice.user.abn} 
        p= @invoice.user.address
        p= @invoice.user.phone
        p= @invoice.user.company_name
        p= @invoice.user.email

    div
        h1 Tax Invoice



hr

div style="display: flex; justify-content: space-between"
    div
        p Bill to #{@invoice.payee.name }
        p = @invoice.notes
    
    div
        p
        b Invoice Number
        | #{@invoice.id}
        p
        b Invoice Date
        | #{@invoice.created_at}

table class="table table-striped"
    thead class="thead-dark"
        tr
            th scope="col" Description
            th scope="col" Hours
            th scope="col" Rate
            th scope="col" Amount

    - @invoice.items.each do |i|
        tr 
            td = i.description
            td = i.hours
            td = i.rate
            td #{i.hours * i.rate}

    tr
        th
        th  
        th Total
        th = @invoice.total

