h3 Change your details
= form_with model: @user, local: true do |form|

   
    div class="form-group"
      = form.label :name
      = form.text_field :name, class: "form-control"

    /div class="field"
      = form.label :company_name
      = form.text_field :company_name

    div class="form-group"
      = form.label :email
      = form.text_field :email, class: "form-control"

    div class="form-group"
      = form.label :abn, "ABN Number"
      = form.text_field :abn, class: "form-control"


    div class="form-group"
      = form.label :phone
      = form.text_field :phone, class: "form-control"

    div class="form-group"
      = form.label :address
      = form.text_field :address, class: "form-control"


    = form.submit 'Update user', class: "btn btn-primary" 
