<!DOCTYPE html>
<html>
  <head>
    <title>Invoice Generator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Invoice Generator', '/', class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to User.first.name, user_path(User.first), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Payees', payee_index_path, class: 'nav-link' %>
          </li>
        </ul>
        <span class="navbar-text">
          <%# Add   %>
        </span>
      </div>
    </nav>
    <div class="container">
      <%= notice %>
      <%= yield %>
    </div>
  </body>
</html>
